body{
    margin: 0;
}

.header{
    background-color: rgb(194, 194, 194);
    width: 100vw;
    height: 100px;
    padding: 10px;
}

.blue-box{
    height: 95px;
    width: 95px;
    background-color: rgb(124, 184, 253);
    margin-left: 15px;
}
h3{
    padding: 90px;
    font-size: 25px;
}

.mysection div{
    width: 100vw;
    height: 100px;
    margin: auto;
}

.blue{background-color: blue;}
.green{background-color: green;}
.grassgreen{background-color: greenyellow;}
.yellow{background-color: yellow;}